---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b11bd3d85cf9134b92a103944f80bf68"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256184}'
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b28f4988-bb8a-4a74-8c6d-4b604945746e"}}'
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
[...]
- request:
    method: get
    uri: https://api.jortt.nl/v3/customers/b28f4988-bb8a-4a74-8c6d-4b604945746e/vat-percentages
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b28f4988-bb8a-4a74-8c6d-4b604945746e","vats":[{"value":"0.21","category":null},{"value":"0.09","category":null}]}}'
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/b28f4988-bb8a-4a74-8c6d-4b604945746e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/60460a8f-a258-4397-bf0a-7664460e99e1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
recorded_with: VCR 6.4.0
