---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b416895bd318c559af55ae2d9cc89df2"
    body:
      encoding: UTF-8
      string: '{"access_token":"-bI17ADWBaPeOBiY5mDcN-vL-GVRMNo_MUG7A6p7UJk","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600781529}'
  recorded_at: Tue, 22 Sep 2020 13:32:09 GMT
recorded_with: VCR 6.0.0
