---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"496b2513b64ad9ad9b7edc6fd1401bc1"
    body:
      encoding: UTF-8
      string: '{"access_token":"Q8m-5mLV_Fz5VQntZ-jUU7hO_BVn1s4BKkk8qXh_3K4","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954525}'
  recorded_at: Thu, 24 Sep 2020 13:35:25 GMT
recorded_with: VCR 6.0.0
