---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bd879426f2c6e1a444613e47fcf6fc70"
    body:
      encoding: UTF-8
      string: '{"access_token":"JnCMcVt4sGmjNbB7HZBwfHLeW7ZIUmW9osuDcyH7e6w","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1631888452}'
  recorded_at: Fri, 17 Sep 2021 14:20:51 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"546a86e8-7a57-4d46-9a81-09378a399dd9"}}'
  recorded_at: Fri, 17 Sep 2021 14:20:52 GMT
[...]
- request:
    method: get
    uri: https://api.jortt.nl/customers/546a86e8-7a57-4d46-9a81-09378a399dd9/vat-percentages
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"546a86e8-7a57-4d46-9a81-09378a399dd9","vat_percentages":{"standard_rate":"21.0","reduced_rate":["9.0","0.0"]}}}'
  recorded_at: Fri, 17 Sep 2021 14:20:52 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/546a86e8-7a57-4d46-9a81-09378a399dd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 14:20:52 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/474d305e-8c98-42ff-9b8d-16cd8b296200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 14:20:52 GMT
recorded_with: VCR 6.0.0
