---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d6bc475f476af056c4a60b3550916ae8"
    body:
      encoding: UTF-8
      string: '{"access_token":"zS_i7CuhCPHApMC0lhRN78w8t8eYexnZOtE7lC94grw","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600781530}'
  recorded_at: Tue, 22 Sep 2020 13:32:10 GMT
recorded_with: VCR 6.0.0
