---
http_interactions:
  - request:
      method: post
      uri: https://app.jortt.nl/oauth-provider/oauth/token
      body:
        encoding: UTF-8
        string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite+organizations%3Aread
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"2973531e45a491eae2fe951b11ca7516"
      body:
        encoding: UTF-8
        string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read","created_at":1723481381}'
    recorded_at: Mon, 12 Aug 2024 16:49:42 GMT
  - request:
      method: get
      uri: https://api.jortt.nl/customers/1aa9cd93-aa14-4184-ba01-1fa2776d2e2d
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 502
        message: Bad Gateway
      headers:
        Content-Type:
          - application/html
        Status:
          - 502 Bad Gateway
      body:
        encoding: UTF-8
        string: |
          <html>
          <head><title>502 Bad Gateway</title></head>
          <body>
          <center><h1>502 Bad Gateway</h1></center>
          </body>
          </html>
    recorded_at: Mon, 12 Aug 2024 16:49:42 GMT
recorded_with: VCR 6.1.0
