---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e90a9e392e4005c93338def0c0c4b8f"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256185}'
  recorded_at: Tue, 01 Sep 2026 09:49:45 GMT
- request:
    method: get
    uri: https://api.jortt.nl/v3/ledger_accounts/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"ledger_account_id":"e52678ce-3d4e-4602-afb9-e825c245f716","parent_ledger_account_id":"802de112-06b1-454b-b865-504027f44144","name":"Omzet","selectable":false},{"ledger_account_id":"4892a527-fdaa-48b8-b6de-03932e92f2cb","parent_ledger_account_id":"e52678ce-3d4e-4602-afb9-e825c245f716","name":"Diverse
        omzet","selectable":true},{"ledger_account_id":"e2086a35-62a8-4dca-bc77-0fd20be8639a","parent_ledger_account_id":"e52678ce-3d4e-4602-afb9-e825c245f716","name":"Omzet
        uit facturen","selectable":true},{"ledger_account_id":"df8d7eb6-5f93-4920-b5f9-f88700d382d0","parent_ledger_account_id":"2bb80f69-e152-4ad7-8875-eeeb28203d0e","name":"Inkoop","selectable":true},{"ledger_account_id":"e9c964c4-90e0-4a36-9587-a94d0b370cc3","parent_ledger_account_id":"2bb80f69-e152-4ad7-8875-eeeb28203d0e","name":"Uitbesteed
        werk","selectable":true},{"ledger_account_id":"364d9ea5-546f-4d33-82e5-174786992978","parent_ledger_account_id":"7976e23f-b11e-45cc-9456-941d5c98141e","name":"Verkoopkosten","selectable":true},{"ledger_account_id":"2bb80f69-e152-4ad7-8875-eeeb28203d0e","parent_ledger_account_id":"ca81a45a-8bb4-4aae-ae46-65184f2b28fb","name":"Inkoopkosten","selectable":false}]}'
  recorded_at: Tue, 01 Sep 2026 09:49:45 GMT
recorded_with: VCR 6.4.0
