---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"70266ad3cfaf6fc35b1b62c872814cae"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256303}'
  recorded_at: Tue, 01 Sep 2026 09:51:43 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9c4a5319-bd6b-42c4-8e1b-a55270b50b34"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:43 GMT
[...]
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":false,"customer_name":"Nuka-Cola Corporation","address_street":"Vault
        11","address_postal_code":"1111AA","address_city":"Mojave Wasteland"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"421b0721-3baf-4760-9520-89b9d3e51ad5"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:44 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/421b0721-3baf-4760-9520-89b9d3e51ad5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:44 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/5b49d0db-0fd5-44db-94b9-473034ee6bea
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:44 GMT
recorded_with: VCR 6.4.0
