---
http_interactions:
- request:
    method: delete
    uri: https://api.jortt.nl/customers/9f589ffc-e2ed-44a6-bec0-1e99dbf858a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:02:50 GMT
[...]
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"cdaea0021ac10d314c8940c2853fd9a7"
    body:
      encoding: UTF-8
      string: '{"access_token":"j4Hj_Z8inkNyA5Mc53Wc_lBTNzyYZG5EhdYn0Dowbos","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600959805}'
  recorded_at: Thu, 24 Sep 2020 15:03:25 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"37dcf681-1b38-47da-911a-df34e1157b45"}}'
  recorded_at: Thu, 24 Sep 2020 15:03:25 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/f2d9d0fb-3ee9-4616-8d2c-45079f585759
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:03:26 GMT
recorded_with: VCR 6.0.0
