---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite+organizations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5d032116197556d01db0269b47370d2e"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read","created_at":1687256474}'
  recorded_at: Tue, 20 Jun 2023 10:21:14 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane+Doe&is_private=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"42b3a28f-63ad-44d6-9ec0-a3307b38dd35"}}'
  recorded_at: Tue, 20 Jun 2023 10:21:14 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/4212a9d0-9263-41e4-a122-a67b14239bbc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jun 2023 10:21:15 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/47279b56-d2b9-4938-93dc-c04d2c444085
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jun 2023 10:21:15 GMT
recorded_with: VCR 6.1.0
