---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e907c0affbb309531823f45a140db33"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256304}'
  recorded_at: Tue, 01 Sep 2026 09:51:44 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"064d3430-4881-4a82-9bf5-d1cdebecfcda"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:45 GMT
[...]
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":false,"customer_name":"Nuka-Cola Corporation","address_street":"Vault
        11","address_postal_code":"1111AA","address_city":"Mojave Wasteland"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"488d0c1c-9837-410e-b005-b6c3bc892589"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:45 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/488d0c1c-9837-410e-b005-b6c3bc892589
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:45 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/96f2f280-061d-4eac-a540-5029d1138db7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:45 GMT
recorded_with: VCR 6.4.0
