---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ac9f7e6bf798fdcca2894ecd11d6b896"
    body:
      encoding: UTF-8
      string: '{"access_token":"vxlQSkM8_HcDTEJhF9b4qqEDmntUjY1wme54_sn0rNI","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600781520}'
  recorded_at: Tue, 22 Sep 2020 13:32:00 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bc3792db-a746-4c1f-bc80-6e3a87d709ba"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:01 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"06d1f8b1-ac71-4cd8-8df2-58f2103bd5e3"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:01 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ff43cd9d-8d75-454a-91b2-3bfd78fc8913"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:01 GMT
- request:
    method: put
    uri: https://api.jortt.nl/customers/ff43cd9d-8d75-454a-91b2-3bfd78fc8913?address_city=Mojave%20Wasteland&address_extra_information=Extra...&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:01 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/ff43cd9d-8d75-454a-91b2-3bfd78fc8913
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:01 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/06d1f8b1-ac71-4cd8-8df2-58f2103bd5e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:01 GMT
recorded_with: VCR 6.0.0
