---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68b1d6590484a268384dd06b8471fcb6"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256306}'
  recorded_at: Tue, 01 Sep 2026 09:51:46 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"49269ee8-0f83-41fb-bfad-9308340bdb48"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:47 GMT
[...]
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":false,"customer_name":"Nuka-Cola Corporation","address_street":"Vault
        11","address_postal_code":"1111AA","address_city":"Mojave Wasteland"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5bc4cf6f-cedb-47e4-ae53-d7beea2bcc61"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:47 GMT
- request:
    method: put
    uri: https://api.jortt.nl/v3/customers/5bc4cf6f-cedb-47e4-ae53-d7beea2bcc61
    body:
      encoding: UTF-8
      string: '{"is_private":false,"customer_name":"Nuka-Cola Corporation","address_street":"Vault
        11","address_postal_code":"1111AA","address_city":"Mojave Wasteland","address_extra_information":"Extra..."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:47 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/f26e5819-c1ca-4fdb-93a3-a501e80eddf5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:47 GMT
recorded_with: VCR 6.4.0
