---
http_interactions:
- request:
    method: put
    uri: https://api.jortt.nl/customers/06ac0ed9-1d20-4626-bb9b-67fa28fe5c9e
    body:
      encoding: UTF-8
      string: address_city=Mojave%20Wasteland&address_extra_information=Extra...&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:02:53 GMT
[...]
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e2638bdd742b094b524da415a8ed4871"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600959807}'
  recorded_at: Thu, 24 Sep 2020 15:03:27 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"de253c8d-4cc2-4a3a-8d20-fb7cd0429da5"}}'
  recorded_at: Thu, 24 Sep 2020 15:03:27 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/d754cddc-f2d5-4ffa-8a7f-b3ff48dcfa33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:03:28 GMT
recorded_with: VCR 6.0.0
