---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a518a19815b17d09d02e43e88f669114"
    body:
      encoding: UTF-8
      string: '{"access_token":"_pWZlArqfB5A86fJpqB2M2dshMMwsrkPiwYZ6f7139w","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600780544}'
  recorded_at: Tue, 22 Sep 2020 13:15:44 GMT
- request:
    method: get
    uri: https://api.jortt.nl/invoices?invoice_status&page=10000&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[],"_links":{"previous":{"href":"https://api.jortt.nl/invoices?page=9999","type":"application/json"},"next":null,"self":{"href":"https://api.jortt.nl/invoices?page=10000","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}}}'
  recorded_at: Tue, 22 Sep 2020 13:15:45 GMT
recorded_with: VCR 6.0.0
