---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b5d9b4955def0a166366e6b7aad33179"
    body:
      encoding: UTF-8
      string: '{"access_token":"uGbRGC2llbJyT6RkQa41bW72tGu2MOJJL7vsp5utWew","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954512}'
  recorded_at: Thu, 24 Sep 2020 13:35:12 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bf27c316-88d6-4c27-aafb-2a9b05d86366"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:12 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"689ceb18-1f85-4634-8cc3-2e269b8da661"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/bf27c316-88d6-4c27-aafb-2a9b05d86366
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/689ceb18-1f85-4634-8cc3-2e269b8da661
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
recorded_with: VCR 6.0.0
