---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ff07984d8d168032be345b159afcc5a1"
    body:
      encoding: UTF-8
      string: '{"access_token":"w-25fuwXh2t7tAdVQgbzwzzUY3_SzlIS4N1H-Vzyn5s","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600766288}'
  recorded_at: Tue, 22 Sep 2020 09:18:08 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9d06d80b-9977-4e75-b122-380a4dd2d45d"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:08 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bc79a08a-58e6-4abd-bd14-4ce2cff7e679"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:08 GMT
- request:
    method: get
    uri: https://api.jortt.nl/customers?page=10000&per_page=50&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[],"_links":{"previous":{"href":"https://api.jortt.nl/customers?page=9999","type":"application/json"},"next":null,"self":{"href":"https://api.jortt.nl/customers?page=10000","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}}}'
  recorded_at: Tue, 22 Sep 2020 09:18:09 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/9d06d80b-9977-4e75-b122-380a4dd2d45d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:09 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/bc79a08a-58e6-4abd-bd14-4ce2cff7e679
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:09 GMT
recorded_with: VCR 6.0.0
