---
http_interactions:
- request:
    method: delete
    uri: https://api.jortt.nl/customers/d22ad827-5e47-4f08-b437-37bf1b5f0e9a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:02:52 GMT
[...]
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c5e9681895930dfa5794b6e3994801b2"
    body:
      encoding: UTF-8
      string: '{"access_token":"89ct_RTsKQnjgeN25HYNKKjdc2O441_CgTi08HGkEWU","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600959806}'
  recorded_at: Thu, 24 Sep 2020 15:03:26 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f231a06f-dc7e-4513-9fac-ace2b2d20a18"}}'
  recorded_at: Thu, 24 Sep 2020 15:03:26 GMT
[...]
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"error":{"code":422,"key":"params.invalid","message":"The parameters
        are invalid (either missing, not of the correct type or incorrect format).","details":[{"key":"is_missing","param":"is_private","message":"is
        missing"},{"key":"is_missing","param":"customer_name","message":"is missing"}]}}'
  recorded_at: Thu, 24 Sep 2020 15:03:26 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/22a8af7e-3497-4b77-be0d-7f5e881770c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:03:27 GMT
recorded_with: VCR 6.0.0
