---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a986ed7df12491536f3c36b9ce75c80"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256185}'
  recorded_at: Tue, 01 Sep 2026 09:49:45 GMT
recorded_with: VCR 6.4.0
