---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"cae7905b0969f97f8118ed1557e9ef03"
    body:
      encoding: UTF-8
      string: '{"access_token":"-UW6qYGjTf_gpDFG3Lyc7lrXnTj8PtodDn_cvT3aBCc","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600780545}'
  recorded_at: Tue, 22 Sep 2020 13:15:45 GMT
- request:
    method: get
    uri: https://api.jortt.nl/invoices?invoice_status=sent&page=1&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"a7f99692-44f0-4cff-bae9-5d5808dfda6a","invoice_status":"sent","customer_id":"21a81a13-312f-4914-886b-75746c300a92","invoice_number":"202009-012","invoice_date":"2020-09-22","invoice_due_date":"2020-10-22","invoice_delivery_period":"2020-09-01","invoice_date_sent":"2020-09-22","invoice_total":{"value":"1996.00","currency":"EUR"},"invoice_total_incl_vat":{"value":"2415.16","currency":"EUR"},"invoice_due_amount":{"value":"2415.16","currency":"EUR"},"send_method":"self","net_amounts":false,"invoice_marked_free_of_vat":false,"credited_invoice_id":null,"remarks":null,"introduction":null,"number_of_reminders_sent":0,"last_reminded_at":null,"payment_method":"pay_later","customer_company_name":"Search
        target","customer_attn":null,"customer_address_street":null,"customer_address_city":null,"customer_address_postal_code":null,"customer_address_country_code":"NL","customer_address_country_name":"Nederland","customer_address_extra_information":null,"customer_vat_shifted":null,"customer_vat_number":null,"customer_in_eu":true,"customer_reference":null,"customer_mail_to":null,"customer_mail_cc_addresses":[],"language":"nl","line_items":[{"description":"Your
        product","vat":21.0,"amount_per_unit":{"value":"499.00","currency":"EUR"},"total_amount_excl_vat":{"value":"499.00","currency":"EUR"},"units":4.0,"ledger_account_id":"05ba2a61-a0cc-4736-9000-89fb361e85c8"}],"reference":null,"created_at":"2020-09-22T15:14:57+02:00"},{"id":"d250beb9-2245-4c19-b223-ce9d552a1d87","invoice_status":"sent","customer_id":"21a81a13-312f-4914-886b-75746c300a92","invoice_number":"202009-011","invoice_date":"2020-09-22","invoice_due_date":"2020-10-22","invoice_delivery_period":"2020-09-01","invoice_date_sent":"2020-09-22","invoice_total":{"value":"1996.00","currency":"EUR"},"invoice_total_incl_vat":{"value":"2415.16","currency":"EUR"},"invoice_due_amount":{"value":"2415.16","currency":"EU[...]
