---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4281085f53eca948f3ee76ba38623d66"
    body:
      encoding: UTF-8
      string: '{"access_token":"hvns0VCaQYYCN5edG3O8BlLdl8OahtiX9pxv9Vuip5c","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600781519}'
  recorded_at: Tue, 22 Sep 2020 13:31:59 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c62cadfd-b889-4ddd-8509-55aab2a0c638"}}'
  recorded_at: Tue, 22 Sep 2020 13:31:59 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b27de637-ef2d-46b9-897f-cadbb02caf7a"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:00 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"97bc5e5f-79c7-4897-b54e-468c6de392c1"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:00 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/97bc5e5f-79c7-4897-b54e-468c6de392c1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:00 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/b27de637-ef2d-46b9-897f-cadbb02caf7a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:00 GMT
recorded_with: VCR 6.0.0
