---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4e4207b02abe4a6fe885c600a362f3b0"
    body:
      encoding: UTF-8
      string: '{"access_token":"_325HH3FuEI4udc70kFomTigj0815mlVuNlh5GNcH8M","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954515}'
  recorded_at: Thu, 24 Sep 2020 13:35:15 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"75bc0f74-b1ac-4f6e-b83c-2f0e5adf7b0e"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:15 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"309dae59-11b8-4106-b196-49e8dbec9e24"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:15 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f892cd1c-f737-4809-8cd9-2830d413c3e2"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:15 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/f892cd1c-f737-4809-8cd9-2830d413c3e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:16 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/309dae59-11b8-4106-b196-49e8dbec9e24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:16 GMT
recorded_with: VCR 6.0.0
