---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"478ce618dfb10483cecc2195d1245a01"
    body:
      encoding: UTF-8
      string: '{"access_token":"Vckj4K1q8XPD-M4xeuXrXzXwcybPsCOgX6sRo1hCJ6c","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600766291}'
  recorded_at: Tue, 22 Sep 2020 09:18:11 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"91ca2c05-bd22-4e25-8eee-5dd3210a98e3"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:11 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ee8871cb-b2df-4936-bd3d-600f58a8420e"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:11 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"39850d96-fdcb-414a-a70d-f4b0b8ecf15d"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:12 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/39850d96-fdcb-414a-a70d-f4b0b8ecf15d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:12 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/ee8871cb-b2df-4936-bd3d-600f58a8420e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:12 GMT
recorded_with: VCR 6.0.0
