---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d95b6edaff5bd30b71983450a9704d64"
    body:
      encoding: UTF-8
      string: '{"access_token":"fbavhP1woukeYKbq1Aqs-pFWDiKvwpZErZmfcb10ymw","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600781528}'
  recorded_at: Tue, 22 Sep 2020 13:32:08 GMT
- request:
    method: get
    uri: https://api.jortt.nl/invoices?invoice_status&page=1&query=Download%20test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"75d6f559-0295-4586-9aa9-2ab3ce42f6a6","invoice_status":"sent","customer_id":"21a81a13-312f-4914-886b-75746c300a92","invoice_number":"202009-010","invoice_date":"2020-09-22","invoice_due_date":"2020-10-22","invoice_delivery_period":"2020-09-01","invoice_date_sent":"2020-09-22","invoice_total":{"value":"100.00","currency":"EUR"},"invoice_total_incl_vat":{"value":"121.00","currency":"EUR"},"invoice_due_amount":{"value":"121.00","currency":"EUR"},"send_method":"self","net_amounts":false,"invoice_marked_free_of_vat":false,"credited_invoice_id":null,"remarks":null,"introduction":null,"number_of_reminders_sent":0,"last_reminded_at":null,"payment_method":"pay_later","customer_company_name":"Search
        target","customer_attn":null,"customer_address_street":null,"customer_address_city":null,"customer_address_postal_code":null,"customer_address_country_code":"NL","customer_address_country_name":"Nederland","customer_address_extra_information":null,"customer_vat_shifted":null,"customer_vat_number":null,"customer_in_eu":true,"customer_reference":null,"customer_mail_to":null,"customer_mail_cc_addresses":[],"language":"nl","line_items":[{"description":"Download
        test","vat":21.0,"amount_per_unit":{"value":"100.00","currency":"EUR"},"total_amount_excl_vat":{"value":"100.00","currency":"EUR"},"units":1.0,"ledger_account_id":"05ba2a61-a0cc-4736-9000-89fb361e85c8"}],"reference":null,"created_at":"2020-09-22T15:12:16+02:00"}],"_links":{"previous":null,"next":null,"self":{"href":"https://api.jortt.nl/invoices?query=Download%20test\u0026page=1","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}}}'
  recorded_at: Tue, 22 Sep 2020 13:32:08 GMT
- request:
    method: get
    uri: https://api.jortt.nl/invoices/75d6f559-0295-4586-9aa9-2ab3ce42f6a6/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"download_location":"https://files.jortt.nl/29d26011-51ed-418d-a9f2-2e55349d37d6/75d6f559-0295-4586-9aa9-2ab3ce42f6a6?response-content-disposition=attachment;filename=202009-010.pdf\u0026Expires=1600782128\u0026Signature=a1OQOlaGN6uRDVovXV6bSnThifg836xj5HNRoH5rMQpdVHoLifszy6VslE4dcN2MC3xG4pUWOgaVvIxh0DbpL~4lISEDexjZ0aztet797YwtK9WulX0u9WFSVZprF3llvxBgWkUifW5tFeYsqrBOx0bRh2N~CcgivnvvCG8lNyp5U2qKSGGM9h6BDZm-187eC9nY~Agq1YtDgJvpaeHOogA8ufjTBY~Gr06XJ3Vl1puUjiindn2Q~NTXcSuCHr~pCLesjCixS5RzKGjlC2IoyWrpBQKl5pFxtROYhx5kgHRrHnoamvHmAi~JUdGNcDiFiZiu20l1J0Mv1xxJrYsQQw__\u0026Key-Pair-Id=APKAJQLVUY5LXNQN6NRQ"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:08 GMT
recorded_with: VCR 6.0.0
