---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"20cbe1b13e77f21dd0e210400ef03d43"
    body:
      encoding: UTF-8
      string: '{"access_token":"sL9JSqhEq5Kuh4G0LYfM_TS9fBNOMctqvt4Ab_6BvaM","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954519}'
  recorded_at: Thu, 24 Sep 2020 13:35:19 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4b521860-1a72-4832-9c6b-cad48c1d8416"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:19 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"15ad46a6-3bcd-4015-a5a3-e95d53637451"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:19 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers/4b521860-1a72-4832-9c6b-cad48c1d8416/direct_debit_mandate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"error":{"code":422,"key":"operation.invalid","message":"The operation
        could not be executed on the resource.","details":[{"key":"DirectDebit::NotEnabled","message":"To
        use direct debit as a payment method in an invoice, you need the payment method
        SEPA Direct Debit to be enabled at Mollie."}]}}'
  recorded_at: Thu, 24 Sep 2020 13:35:19 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/4b521860-1a72-4832-9c6b-cad48c1d8416
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:19 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/15ad46a6-3bcd-4015-a5a3-e95d53637451
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:19 GMT
recorded_with: VCR 6.0.0
