---
http_interactions:
- request:
    method: post
    uri: https://api.jortt.nl/customers/a5c1259e-b49f-429d-aa41-b14275dc7454/direct_debit_mandate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"error":{"code":422,"key":"operation.invalid","message":"The operation
        could not be executed on the resource.","details":[{"key":"DirectDebit::NotEnabled","message":"To
        use direct debit as a payment method in an invoice, you need the payment method
        SEPA Direct Debit to be enabled at Mollie."}]}}'
  recorded_at: Thu, 24 Sep 2020 15:02:55 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/a5c1259e-b49f-429d-aa41-b14275dc7454
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:02:55 GMT
[...]
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"986b4c7db5b99df1ed3155183b9ee35d"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600959809}'
  recorded_at: Thu, 24 Sep 2020 15:03:29 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a059cbb2-2ac2-4034-a8ba-5d3470e791bf"}}'
  recorded_at: Thu, 24 Sep 2020 15:03:29 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/1071f202-c5a9-4e35-b0ca-77772c0599dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:03:30 GMT
recorded_with: VCR 6.0.0
