---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"06ac9bc65051de80066021a67926921b"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256183}'
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a9b6b3f4-6dbd-4385-9af9-9ac30d723330"}}'
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
[...]
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers/a9b6b3f4-6dbd-4385-9af9-9ac30d723330/direct_debit_mandate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":422,"key":"operation.invalid","message":"The operation
        could not be executed on the resource.","details":[{"key":"DirectDebit::NotEnabled","message":"To
        use direct debit as a payment method in an invoice, you need the payment method
        SEPA Direct Debit to be enabled at Mollie."}]}}'
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/a9b6b3f4-6dbd-4385-9af9-9ac30d723330
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/14c1d8fa-d77e-46e2-b85a-ba8494e2fe9f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:44 GMT
recorded_with: VCR 6.4.0
