---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7a42d28ce179643b4d1b8f43e867c66f"
    body:
      encoding: UTF-8
      string: '{"access_token":"h9kTzhahqSR_D_4MgrhrwFdpYvsFpOdbpRv0rhKRIoY","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600766295}'
  recorded_at: Tue, 22 Sep 2020 09:18:15 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"200be804-59af-4f00-b24e-8bf823448aff"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:15 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"4b888f46-81c7-464a-beef-e60dc4a0faf5"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:15 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers/200be804-59af-4f00-b24e-8bf823448aff/direct_debit_mandate
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"error":{"code":422,"key":"operation.invalid","message":"The operation
        could not be executed on the resource.","details":[{"key":"DirectDebit::NotEnabled","message":"To
        use direct debit as a payment method in an invoice, you need the payment method
        SEPA Direct Debit to be enabled at Mollie."}]}}'
  recorded_at: Tue, 22 Sep 2020 09:18:15 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/200be804-59af-4f00-b24e-8bf823448aff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:15 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/4b888f46-81c7-464a-beef-e60dc4a0faf5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:16 GMT
recorded_with: VCR 6.0.0
