---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite+organizations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"406b567a54cb094e2b77ec9d3bdbd04d"
    body:
      encoding: UTF-8
      string: '{"access_token":"TFD2KyEeAWjb7X16hZ796lXPxxGLM-BwMDKI7qqXbHU","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read","created_at":1657563137}'
  recorded_at: Mon, 11 Jul 2022 18:12:16 GMT
- request:
    method: get
    uri: https://api.jortt.nl/tradenames
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9a3fb97e-acb0-4367-97f7-4be733c18480","company_name":"The
        best Ruby Gem","company_name_line_2":"The best Ruby Gem","address_street":"cruquiusweg
        109f","address_city":"amsterdam","address_postal_code":"1111aa","address_country_code":"NL","phonenumber":null,"bank_account_in_the_name_of":"sdf","iban":"sdfdsf","bic":null,"finance_email":"tech+jortt-ruby@zilverline.com"},{"id":"c074a2f7-ca95-47e3-8169-9c44e5c3c85c","company_name":"jortt-ruby
        gem","company_name_line_2":"jortt-ruby gem","address_street":"cruquiusweg
        109f","address_city":"amsterdam","address_postal_code":"1111aa","address_country_code":"NL","phonenumber":null,"bank_account_in_the_name_of":"sdf","iban":"sdfdsf","bic":null,"finance_email":"tech+jortt-ruby@zilverline.com"}]}'
  recorded_at: Mon, 11 Jul 2022 18:12:17 GMT
recorded_with: VCR 6.1.0
