---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7100b46f54475fa7d4d104166a5cc6c4"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256182}'
  recorded_at: Tue, 01 Sep 2026 09:49:42 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f339c300-bd88-46de-979e-d1d996002920"}}'
  recorded_at: Tue, 01 Sep 2026 09:49:42 GMT
[...]
- request:
    method: get
    uri: https://api.jortt.nl/v3/customers?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"e9beaa84-54bc-40e9-a369-6be078351c13","is_private":false,"customer_name":"Download
        test","address_street":"Cruquisweg 109F","address_postal_code":"1111SX","address_city":"Amsterdam","address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":null,"email_salutation":"Geachte
        heer, mevrouw,","additional_information":null,"payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null,"default_ledger_account_id":null,"archived":false,"default_label_id":null,"default_discount_description":null,"default_discount_percentage":null,"peppol_scheme_code":null,"peppol_identifier":null},{"id":"f339c300-bd88-46de-979e-d1d996002920","is_private":true,"customer_name":"Jane
        Doe","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":null,[...]
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/f339c300-bd88-46de-979e-d1d996002920
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:42 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/0eea7525-fa23-4ff7-8d62-eeba69e4cb8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:42 GMT
recorded_with: VCR 6.4.0
