---
http_interactions:
- request:
    method: delete
    uri: https://api.jortt.nl/customers/56c5373a-e0f1-45a1-ad3a-17989429e53d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:02:47 GMT
[...]
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2712fb1beb7bc4266ac7ea32ce36df91"
    body:
      encoding: UTF-8
      string: '{"access_token":"hZSNY6aCeNHHDA_w4Qw-VYQuJejo0t8gFJpLWZrRq-A","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600959802}'
  recorded_at: Thu, 24 Sep 2020 15:03:22 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"97dee356-0b9e-4ba4-a9a8-e787012c2cb1"}}'
  recorded_at: Thu, 24 Sep 2020 15:03:22 GMT
[...]
- request:
    method: get
    uri: https://api.jortt.nl/customers?page=1&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"97dee356-0b9e-4ba4-a9a8-e787012c2cb1","is_private":true,"customer_name":"Jane
        Doe","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":null,"email_salutation":"Geachte
        heer, mevrouw,","additional_information":null,"payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null},{"id":"49a5b92a-e33a-4001-b290-462de0fbab39","is_private":true,"customer_name":"John
        Doe","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":null,[...]
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/49a5b92a-e33a-4001-b290-462de0fbab39
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:03:22 GMT
recorded_with: VCR 6.0.0
