---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c0965c31e5a970282af2894c70abdfb4"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256307}'
  recorded_at: Tue, 01 Sep 2026 09:51:47 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f901220a-b358-4bf6-8ee9-e274bd5087a8"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:48 GMT
[...]
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":false,"customer_name":"Nuka-Cola Corporation","address_street":"Vault
        11","address_postal_code":"1111AA","address_city":"Mojave Wasteland"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6bb7c2e6-f870-434d-9658-4a20756bcc3b"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:48 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/6bb7c2e6-f870-434d-9658-4a20756bcc3b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:48 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/4de5e428-8eb7-4f2e-8eb2-cf891051e39c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:48 GMT
recorded_with: VCR 6.4.0
