---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fc82dd36cd3586270d0de814cf02507b"
    body:
      encoding: UTF-8
      string: '{"access_token":"D-U-qtcnRUOKRxxzyFMGNIjwII-8OiKQ2p11M7I748k","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600781522}'
  recorded_at: Tue, 22 Sep 2020 13:32:02 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"b1d41cc6-6fbf-4942-aad0-3cf48df5037d"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:02 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a9df2ea0-af48-4606-bece-1813ade40f8d"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:02 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9af453d7-078d-4e49-89e2-c29fc370d3af"}}'
  recorded_at: Tue, 22 Sep 2020 13:32:02 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/9af453d7-078d-4e49-89e2-c29fc370d3af
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:02 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/a9df2ea0-af48-4606-bece-1813ade40f8d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 13:32:03 GMT
recorded_with: VCR 6.0.0
