---
http_interactions:
- request:
    method: delete
    uri: https://api.jortt.nl/customers/3b9461f1-b384-471c-abd9-d1fa0a86d181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:02:54 GMT
[...]
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"490e3c7a2630782042baa8f22011db00"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600959808}'
  recorded_at: Thu, 24 Sep 2020 15:03:28 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: customer_name=Jane%20Doe&is_private=true
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c85113d9-47d7-4cf3-a985-d46448af6d2c"}}'
  recorded_at: Thu, 24 Sep 2020 15:03:28 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/17633b62-276f-451f-847a-4c2d5cc75a0b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 15:03:29 GMT
recorded_with: VCR 6.0.0
