---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d5d7d771381302c43c4c06aa92b9e35f"
    body:
      encoding: UTF-8
      string: '{"access_token":"B85_Qqqi1LyEZUboPFYtI6KrhEkrm0b_3CMhkjPRm6Y","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954517}'
  recorded_at: Thu, 24 Sep 2020 13:35:17 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"86a6c36f-767b-406c-a8cf-88e71f41eeda"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:18 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"fcd3dc9a-f90c-4b17-9945-30fab0ef6d7a"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:18 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6b953279-41aa-42c5-9b3c-d69df445f9bf"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:18 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/6b953279-41aa-42c5-9b3c-d69df445f9bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:18 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/fcd3dc9a-f90c-4b17-9945-30fab0ef6d7a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:18 GMT
recorded_with: VCR 6.0.0
