---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d216c64417cb0a7cbd15b43d2eac0557"
    body:
      encoding: UTF-8
      string: '{"access_token":"AyUlfcy1onJbA44mvgKLu3OnC9RFTKcN60JpYBwNE5I","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600766294}'
  recorded_at: Tue, 22 Sep 2020 09:18:14 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6c6fb656-1f08-4433-9a6e-e2776f334de2"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:14 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c003180a-b017-4e2e-89d0-007db9f2bb14"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:14 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?address_city=Mojave%20Wasteland&address_postal_code=1111AA&address_street=Vault%2011&customer_name=Nuka-Cola%20Corporation&is_private=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"fe144f54-0ee8-4bc8-8ee8-a0daeca644d5"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:14 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/fe144f54-0ee8-4bc8-8ee8-a0daeca644d5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:14 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/c003180a-b017-4e2e-89d0-007db9f2bb14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:14 GMT
recorded_with: VCR 6.0.0
