---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5d1f42b5ed894d35e09f1f902b2bc3ff"
    body:
      encoding: UTF-8
      string: '{"access_token":"LDxa6hYz6_7FCurwcottYRkC_gGGwNjmzmyv-gH8gQM","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600766289}'
  recorded_at: Tue, 22 Sep 2020 09:18:09 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"46d0eb3c-502f-46c9-a06c-892795e46d3f"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:09 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"87330371-3c1c-49a4-a276-bd35a07cf675"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:09 GMT
- request:
    method: get
    uri: https://api.jortt.nl/customers?page=1&per_page=50&query=Search%20target
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"21a81a13-312f-4914-886b-75746c300a92","is_private":true,"customer_name":"Search
        target","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":[],"email_salutation":"Geachte
        heer, mevrouw,","additional_information":"","payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null}],"_links":{"previous":null,"next":null,"self":{"href":"https://api.jortt.nl/customers?query=Search%20target\u0026page=1","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}}}'
  recorded_at: Tue, 22 Sep 2020 09:18:10 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/46d0eb3c-502f-46c9-a06c-892795e46d3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:10 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/87330371-3c1c-49a4-a276-bd35a07cf675
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:10 GMT
recorded_with: VCR 6.0.0
