---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"874923400c0c63fa27e00c204fd3a158"
    body:
      encoding: UTF-8
      string: '{"access_token":"eITdtL50HkmvYPqj6xOzP_8kG8NCtqDiq3h0fVtwCU4","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954513}'
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a7ec9703-d1cb-4104-9249-69d3fc4928ac"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c18e6d7b-e8f2-4fe1-9bbd-740d6927174d"}}'
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
- request:
    method: get
    uri: https://api.jortt.nl/customers?page=1&query=Search%20target
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"21a81a13-312f-4914-886b-75746c300a92","is_private":true,"customer_name":"Search
        target","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":"stephan+jortt-gem-customer@zilverline.com","cc_emails":[],"email_salutation":"Geachte
        heer, mevrouw,","additional_information":"","payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null}],"_links":{"previous":null,"next":null,"self":{"href":"https://api.jortt.nl/customers?query=Search%20target\u0026page=1","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}}}'
  recorded_at: Thu, 24 Sep 2020 13:35:13 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/a7ec9703-d1cb-4104-9249-69d3fc4928ac
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:14 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/c18e6d7b-e8f2-4fe1-9bbd-740d6927174d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Sep 2020 13:35:14 GMT
recorded_with: VCR 6.0.0
