---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6cc4bd918b8e89a5d5d29ce8b789c8cb"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256183}'
  recorded_at: Tue, 01 Sep 2026 09:49:43 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"Jane Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"019eb924-2058-48dc-a0c1-c28ecce69aa2"}}'
  recorded_at: Tue, 01 Sep 2026 09:49:43 GMT
[...]
- request:
    method: get
    uri: https://api.jortt.nl/v3/customers/019eb924-2058-48dc-a0c1-c28ecce69aa2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"019eb924-2058-48dc-a0c1-c28ecce69aa2","is_private":true,"customer_name":"Jane
        Doe","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":null,"email_salutation":"Geachte
        heer, mevrouw,","additional_information":null,"payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null,"default_ledger_account_id":null,"archived":false,"default_label_id":null,"default_discount_description":null,"default_discount_percentage":null,"peppol_scheme_code":null,"peppol_identifier":null},"_links":{"extra_details":{"href":"https://api.jortt.nl/v3/customers/extra_details","type":"application/json"}}}'
  recorded_at: Tue, 01 Sep 2026 09:49:43 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/b2eb4cf7-7006-4438-810a-b8f4711bf73f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:49:43 GMT
recorded_with: VCR 6.4.0
