---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9b1d5907340d72142e2a33acde3a1cab"
    body:
      encoding: UTF-8
      string: '{"access_token":"LK0CH2Za82fwa0LOEjk2o7fS6JoKo8PLZsmBWhBue8o","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600766290}'
  recorded_at: Tue, 22 Sep 2020 09:18:10 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=Jane%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2b1b0d55-2ba1-42e8-81d5-d8eb9397c425"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:10 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers?customer_name=John%20Doe&is_private=true
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"df3fb89f-dee2-42b3-9345-861d3e2bc878"}}'
  recorded_at: Tue, 22 Sep 2020 09:18:11 GMT
- request:
    method: get
    uri: https://api.jortt.nl/customers/2b1b0d55-2ba1-42e8-81d5-d8eb9397c425
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2b1b0d55-2ba1-42e8-81d5-d8eb9397c425","is_private":true,"customer_name":"Jane
        Doe","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":null,"cc_emails":null,"email_salutation":"Geachte
        heer, mevrouw,","additional_information":null,"payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null}}'
  recorded_at: Tue, 22 Sep 2020 09:18:11 GMT
[...]
- request:
    method: delete
    uri: https://api.jortt.nl/customers/df3fb89f-dee2-42b3-9345-861d3e2bc878
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Sep 2020 09:18:11 GMT
recorded_with: VCR 6.0.0
