---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56aa55f38a1c626ce17536c5a8e9bb86"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256516}'
  recorded_at: Tue, 01 Sep 2026 09:55:16 GMT
- request:
    method: get
    uri: https://api.jortt.nl/v3/invoices?page=1&query=Search%20target
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"previous":null,"next":null,"self":{"href":"https://api.jortt.nl/v3/invoices?query=Search%20target\u0026page=1","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}},"data":[{"id":"c087da3f-bb31-4fd8-8a83-9f395a0fcdb6","invoice_status":"sent","customer_id":"c83d419d-362b-4a7d-aa47-5495c5943fb2","tradename_id":null,"invoice_number":"202609-006","invoice_date":"2026-09-01","invoice_due_date":"2026-10-01","invoice_delivery_period":"2026-09-01","invoice_delivery_period_end":null,"invoice_date_sent":"2026-09-01","invoice_total":{"amount":"1996.00","currency":"EUR"},"invoice_total_incl_vat":{"amount":"2415.16","currency":"EUR"},"invoice_due_amount":{"amount":"2415.16","currency":"EUR"},"send_method":"self","net_amounts":false,"invoice_marked_free_of_vat":false,"credited_invoice_id":null,"remarks":null,"introduction":null,"number_of_reminders_sent":0,"last_reminded_at":null,"payment_method":"pay_later","customer_company_name":"Search
        target","customer_attn":null,"customer_address_street":"Cruquisweg 109F","customer_address_city":"Amsterdam","customer_address_postal_code":"1111SX","customer_address_country_code":"NL","customer_address_country_name":"Nederland","customer_address_extra_information":null,"customer_vat_shifted":null,"customer_vat_number":null,"customer_in_eu":true,"customer_reference":null,"customer_is_private":false,"customer_mail_to":null,"customer_mail_cc_addresses":[],"language":"nl","line_items":[{"description":"Your
        product","vat":{"value":"0.21","category":null},"quantity":"4.0","amount":{"amount":"499.00","currency":"EUR"},"total_amount_ex_vat":{"amount":"499.00","currency":"EUR"},"ledger_account_id":"e2086a35-62a8-4dca-bc77-0fd20be8639a"}],"discounts":[],"reference":null,"created_at":"2026-09-01T11:54:46+02:00","credit_invoice_ids":[],"peppol_status":null,"attachments":[]},{"id":"70959960-5243-4cc4-8bd7-e6e602d72afa","invoice_status":"sent","customer_id":"c83d419d-362b-4a7d-aa47-5495c5943fb2","tradename_id":null,"invoice_number":"202609-004","invoice_date":"2026-09-01","invoice_due_date":"2026-10-01","invoice_delivery_period":"2026-09-01","invoice_delivery_period_end":null,"invoice_date_sent":"2026-09-01","invoice_total":{"amount":"-1996.00","currency":"EUR"},"invoice_total_incl_vat":{"amount":"-2415.16","currency":"EUR"},"invoice_due_amount":{"amount":"-0.00"[...]
- request:
    method: get
    uri: https://api.jortt.nl/v3/invoices/c087da3f-bb31-4fd8-8a83-9f395a0fcdb6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"possible_actions":["show","download","print","credit","clone","resend"],"data":{"id":"c087da3f-bb31-4fd8-8a83-9f395a0fcdb6","invoice_status":"sent","customer_id":"c83d419d-362b-4a7d-aa47-5495c5943fb2","tradename_id":null,"invoice_number":"202609-006","invoice_date":"2026-09-01","invoice_due_date":"2026-10-01","invoice_delivery_period":"2026-09-01","invoice_delivery_period_end":null,"invoice_date_sent":"2026-09-01","invoice_total":{"amount":"1996.00","currency":"EUR"},"invoice_total_incl_vat":{"amount":"2415.16","[...]
