---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fea251959252885f91691eb93d457d32"
    body:
      encoding: UTF-8
      string: '{"access_token":"SNr2wctSzabCbvjpb8R_3nr0H7Lk2oijHJ52cNaS_Rg","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600954523}'
  recorded_at: Thu, 24 Sep 2020 13:35:23 GMT
- request:
    method: get
    uri: https://api.jortt.nl/invoices?invoice_status&page=1&query=Search%20target
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"9a5bc82a-38fa-41e8-a3e5-78182d160cac","invoice_status":"draft","customer_id":"21a81a13-312f-4914-886b-75746c300a92","invoice_number":null,"invoice_date":null,"invoice_due_date":null,"invoice_delivery_period":null,"invoice_date_sent":null,"invoice_total":{"value":"1996.00","currency":"EUR"},"invoice_total_incl_vat":{"value":"2415.16","currency":"EUR"},"invoice_due_amount":{"value":"2415.16","currency":"EUR"},"send_method":null,"net_amounts":false,"invoice_marked_free_of_vat":false,"credited_invoice_id":null,"remarks":null,"introduction":null,"number_of_reminders_sent":0,"last_reminded_at":null,"payment_method":null,"customer_company_name":null,"customer_attn":null,"customer_address_street":null,"customer_address_city":null,"customer_address_postal_code":null,"customer_address_country_code":null,"customer_address_country_name":null,"customer_address_extra_information":null,"customer_vat_shifted":null,"customer_vat_number":null,"customer_in_eu":null,"customer_reference":null,"customer_mail_to":null,"customer_mail_cc_addresses":[],"language":"nl","line_items":[{"description":"Your
        product","vat":21.0,"amount_per_unit":{"value":"499.00","currency":"EUR"},"total_amount_excl_vat":{"value":"499.00","currency":"EUR"},"units":4.0,"ledger_account_id":"05ba2a61-a0cc-4736-9000-89fb361e85c8"}],"reference":null,"created_at":"2020-09-24T15:35:22+02:00"},{"id":"4d0acc86-b937-40cd-b199-ccb542fc6e1b","invoice_status":"sent","customer_id":"21a81a13-312f-4914-886b-75746c300a92","invoice_number":"202009-219","invoice_date":"2020-09-24","invoice_due_date":"2020-10-24","invoice_delivery_period":"2020-09-01","invoice_date_sent":"2020-09-24","invoice_total":{"value":"1996.00","currency":"EUR"},"invoice_total_incl_vat":{"value":"2415.16","currency":"EUR"},"invoice_due_amount":{"value":"2415.16","currency":"EU[...]
- request:
    method: get
    uri: https://api.jortt.nl/invoices/9a5bc82a-38fa-41e8-a3e5-78182d160cac
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9a5bc82a-38fa-41e8-a3e5-78182d160cac","invoice_status":"draft","customer_id":"21a81a13-312f-4914-886b-75746c300a92","invoice_[...]
