---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite+organizations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6a99a209a0c26376489eb27fe9956ad5"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read","created_at":1657562675}'
  recorded_at: Mon, 11 Jul 2022 18:04:35 GMT
- request:
    method: get
    uri: https://api.jortt.nl/organizations/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":{"id":"29d26011-51ed-418d-a9f2-2e55349d37d6","company_name":"jortt-ruby
        gem","company_name_line_2":null,"address_street":"cruquiusweg 109f","address_postal_code":"1111aa","address_city":"amsterdam","address_country_code":"NL","address_country_name":"Nederland","tax_registration_number":"NL821898279B01","chamber_of_commerce_number":"34377452","bank_account_iban":"sdfdsf","bank_account_bban":"sdfdsf","owners":[{"id":"fa8b019f-047a-412d-8a48-dcdb9b7cba94","full_name":"jortt-ruby
        gem"}],"legal_form":"bv","website":null,"phonenumber":null,"invoice_from_email":"stephan+jortt-ruby@zilverline.com","one_stop_shop_enabled":false}}'
  recorded_at: Mon, 11 Jul 2022 18:04:35 GMT
recorded_with: VCR 6.1.0
