---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f514211dbcd7f7b29c7b19c99801d93c"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256299}'
  recorded_at: Tue, 01 Sep 2026 09:51:39 GMT
- request:
    method: get
    uri: https://api.jortt.nl/v3/organizations/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2af412cf-23f8-4b0d-9df2-a1afaf0ce67f","vat_type":"vat","company_name":"Jortt
        MKB B.V.","company_name_line_2":null,"address_street":"Straat 1","address_postal_code":"1000
        AA","address_city":"Amsterdam","address_country_code":"NL","address_country_name":"Nederland","tax_registration_number":"NL821898279B01","chamber_of_commerce_number":"12345678","bank_account_iban":"NL50RABO0156750961","bank_account_bban":"156750961","owners":[{"id":"e0bf60e7-f637-47d3-a391-14a65f31b2b9","full_name":"Jan
        MKB"}],"legal_form":"bv","website":null,"phonenumber":null,"invoice_from_email":"finance@localhost.local","one_stop_shop_enabled":false,"has_mollie":false,"jortt_start_date":"2025-09-01T09:53:53+02:00","invoice_from_email_confirmed":true,"data_complete_for_sending_invoices":true,"default_vat":{"category":null,"value":"0.21"},"has_peppol_access":false,"access_to_jortt_zzp":true,"access_to_jortt_mkb":true,"access_to_jortt_plus":false}}'
  recorded_at: Tue, 01 Sep 2026 09:51:39 GMT
recorded_with: VCR 6.4.0
