---
http_interactions:
  - request:
      method: post
      uri: https://app.jortt.nl/oauth-provider/oauth/token
      body:
        encoding: UTF-8
        string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite+organizations%3Aread
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Status:
          - 200 OK
        Etag:
          - W/"0b5388279f6c4c980d5cf6cfc6bda06d"
      body:
        encoding: UTF-8
        string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read","created_at":1723537011}'
    recorded_at: Tue, 13 Aug 2024 08:16:51 GMT
  - request:
      method: get
      uri: https://api.jortt.nl/customers/999
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 422
        message: Unprocessable Entity
      headers:
        Content-Type:
          - application/json
        Status:
          - 422 Unprocessable Entity
        ''self'' ''unsafe-eval'' blob: ''unsafe-inline'' files.acc.jortt.nl *.googletagmanager.com
        *.uservoice.com inlinemanual.com *.google-analytics.com https://www.googleanalytics.com
        *.googleadservices.com bat.bing.com https://*.tapfiliate.com static.ads-twitter.com
        tagmanager.google.com analytics.twitter.com https://connect.facebook.net https://app.inlinemanual.com
        https://cdn.inlinemanual.com https://optimize.google.com https://www.googleoptimize.com
        https://tpc.googlesyndication.com googleads.g.doubleclick.net *.cookiebot.com
        *.redditstatic.com;     connect-src ''self'' https://*.acc.jortt.nl wss://*.acc.jortt.nl
        analytics.inlinemanual.com files.acc.jortt.nl *.google-analytics.com stats.g.doubleclick.net
        file-storage-app-acceptance.s3.eu-central-1.amazonaws.com https://app.inlinemanual.com
        https://appsignal-endpoint.net [...]
