---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e3b0d41d2799f644c6fdbc834fc6b98e"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256299}'
  recorded_at: Tue, 01 Sep 2026 09:51:39 GMT
- request:
    method: get
    uri: https://api.jortt.nl/v3/customers/999
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":422,"key":"params.invalid","message":"The parameters
        are invalid (either missing, not of the correct type or incorrect format).","details":[{"key":"is_invalid","param":"customer_id","message":"is
        invalid"}]}}'
  recorded_at: Tue, 01 Sep 2026 09:51:39 GMT
recorded_with: VCR 6.4.0
