---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5db4f05f35fc8e4da0292eb5c6ac39c5"
    body:
      encoding: UTF-8
      string: '{"access_token":"0r3p4dNbwBj-QWGXTqwhtLorHUF684c_hlLETC4Ns2c","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write","created_at":1600780546}'
  recorded_at: Tue, 22 Sep 2020 13:15:46 GMT
- request:
    method: get
    uri: https://api.jortt.nl/customers?page=1&query=Search%20target
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"21a81a13-312f-4914-886b-75746c300a92","is_private":true,"customer_name":"Search
        target","address_street":null,"address_postal_code":null,"address_city":null,"address_country_code":"NL","address_country_name":"Nederland","address_extra_information":null,"shift_vat":null,"vat_number":null,"coc_number":null,"initials":null,"first_name":null,"last_name":null,"date_of_birth":null,"citizen_service_number":null,"attn":null,"phonenumber":null,"website":null,"email":"stephan+jortt-gem-customer@zilverline.com","cc_emails":[],"email_salutation":"Geachte
        heer, mevrouw,","additional_information":"","payment_term":30,"invoice_language":"nl","payment_method_invoice":"pay_later","reference":null,"mollie_direct_debit_status":null,"mollie_customer_id":null,"mollie_mandate_id":null}],"_links":{"previous":null,"next":null,"self":{"href":"https://api.jortt.nl/customers?query=Search%20target\u0026page=1","type":"application/json"},"documentation":{"href":"https://developer.jortt.nl/#pagination","type":"text/html"}}}'
  recorded_at: Tue, 22 Sep 2020 13:15:46 GMT
- request:
    method: post
    uri: https://api.jortt.nl/invoices?customer_id=21a81a13-312f-4914-886b-75746c300a92&line_items%5B%5D%5Bamount_per_unit%5D%5Bcurrency%5D=EUR&line_items%5B%5D%5Bamount_per_unit%5D%5Bvalue%5D=499&line_items%5B%5D%5Bdescription%5D=Your%20product&line_items%5B%5D%5Bunits%5D=4&line_items%5B%5D%5Bvat%5D=21&send_method=self
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5b0d107e-2d2e-43d9-9d46-26b993072bba"}}'
  recorded_at: Tue, 22 Sep 2020 13:15:46 GMT
recorded_with: VCR 6.0.0
