---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread%20invoices%3Awrite%20customers%3Aread%20customers%3Awrite%20organizations%3Aread%20expenses%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c138b7b11c5cb99f3138b1fcbf1290b"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read expenses:read","created_at":1788256302}'
  recorded_at: Tue, 01 Sep 2026 09:51:42 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"John Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9dcdcce6-7ecc-457a-baea-116ebea75cca"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:42 GMT
- request:
    method: post
    uri: https://api.jortt.nl/v3/invoices
    body:
      encoding: UTF-8
      string: '{"customer_id":"9dcdcce6-7ecc-457a-baea-116ebea75cca","send_method":"self","line_items":[{"description":"Your
        product","quantity":"4","amount":{"amount":"499.00","currency":"EUR"},"vat":{"value":"0.21","category":null}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"bfb4aabf-190c-4784-96b8-41c982938fd8"}}'
  recorded_at: Tue, 01 Sep 2026 09:51:42 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/v3/customers/9dcdcce6-7ecc-457a-baea-116ebea75cca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers: {}
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Sep 2026 09:51:42 GMT
recorded_with: VCR 6.4.0
