---
http_interactions:
- request:
    method: post
    uri: https://app.jortt.nl/oauth-provider/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=invoices%3Aread+invoices%3Awrite+customers%3Aread+customers%3Awrite+organizations%3Aread
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"53af118800866500d676ccc665e6e14d"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":7200,"scope":"invoices:read
        invoices:write customers:read customers:write organizations:read","created_at":1687347945}'
  recorded_at: Wed, 21 Jun 2023 11:45:45 GMT
- request:
    method: post
    uri: https://api.jortt.nl/customers
    body:
      encoding: UTF-8
      string: '{"is_private":true,"customer_name":"John Doe"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"9bce2bbb-555e-4dda-9470-46066bbc79ad"}}'
  recorded_at: Wed, 21 Jun 2023 11:45:45 GMT
- request:
    method: post
    uri: https://api.jortt.nl/invoices
    body:
      encoding: UTF-8
      string: '{"customer_id":"9bce2bbb-555e-4dda-9470-46066bbc79ad","send_method":"self","line_items":[{"vat":21,"amount_per_unit":{"value":499,"currency":"EUR"},"units":4,"description":"Your
        product"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"c159202c-5e7e-44cc-bd47-66cc8cb4e028"}}'
  recorded_at: Wed, 21 Jun 2023 11:45:45 GMT
- request:
    method: delete
    uri: https://api.jortt.nl/customers/9bce2bbb-555e-4dda-9470-46066bbc79ad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 21 Jun 2023 11:45:46 GMT
recorded_with: VCR 6.1.0
